:root {
  --color-black: #020202;
  --color-white: #f7f8fc;
  --color-green: #00693d;
  --color-grey: #858585;
  --light-green: #e8fcf1;
  --color-green-hover: #009c5b;
  --color-shadow: #00693d1a;
  --color-overlay: #fffc;
  --color-line-bg: #00693d26;
  --color-ghost-white: #ebedf3e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-size: 1.5rem; */
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Container Utility */
.container-wrapper {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 1.5rem;
  /* min-width: 750px; */
}

@media (max-width: 1535px) {
  .container-wrapper {
    max-width: 80%;
  }
}

/* Navigation */
.navbar {
  width: 100%;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  padding: 1.2rem 0;
}

.brand-logo {
  width: 13rem;
  overflow: hidden;
}

.brand-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation-links ul {
  display: flex;
  gap: 3.3rem;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-container {
  display: inline;
}

.navigation-links ul li {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1.2rem 0;
  color: #444;
  transition: all 0.3s ease;
}

.link-item:hover {
  color: rgb(41, 158, 41);
}

/* Hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 101;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #444;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Hamburger animation when open */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Hero Styling */
.hero {
  min-height: 80vh;
  background-color: var(--color-white);
  background-image: url(../assets/hero-background.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
  position: relative;
  padding-top: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  grid-row-gap: 0;
  grid-column-gap: 50px;
}

.hero-heading {
  font-size: 6.3rem;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 6rem;
}

.hero-description {
  color: var(--color-grey);
  font-size: 2.1rem;
  letter-spacing: -0.5px;
  max-width: 80%;
  margin-bottom: 6rem;
  font-weight: 500;
  line-height: 1.3;
}

.hero-container__image {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.hero-img {
  border-radius: 100%;
  object-fit: cover;
  width: 520px;
  min-height: 520px;
}

.hero__play-button {
  background-color: var(--color-green);
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  position: absolute;
}

.hero__play-icon {
  width: 1.7rem;
}

/* Featured styling */
.featured {
  padding: 7rem 0;
  position: relative;
}

.featured-container {
  display: grid;
  align-items: center;
  grid-template-columns: 0.25fr 1fr;
  gap: 28px;
}

.featured-logos {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 7px 50px;
  width: 100%;
  display: flex;
}

.featured__logo {
  max-width: 14rem;
  height: auto;
}

/* Categories Styling */
.category {
  padding: 15rem 0;
  position: relative;
}

.category-container {
  text-align: center;
  margin: 0 auto;
  max-width: 560px;
}

.category-heading {
  font-size: 5rem;
  letter-spacing: -1px;
  font-weight: 600;
}

.category-content {
  margin-top: 8rem;
}

.categories {
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.category-card {
  position: relative;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
  grid-area: 1/2;
}

.spinner-icon {
  height: 5rem;
  width: 5rem;
  fill: var(--color-green);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.category-card__link {
  background-color: var(--light-green);
  color: var(--color-green);
  text-align: center;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  font-size: 1.8rem;
  transition: all 0.3s;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  font-weight: 500;
  text-decoration: none;
  display: block;
}

.category-card__link:hover {
  box-shadow: 0 5px 10px var(--color-shadow);
  filter: hue-rotate(180deg);
  transform: translateY(-3px);
}

.category-card__icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
}

.category-card__title {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Recipes Styling */
.recipes {
  background-color: var(--light-green);
  padding: 15rem 0;
}

.recipes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.recipes-header {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.recipes-content {
  margin-top: 5rem;
}

.recipe-tabs {
  gap: 0.6rem;
  margin-bottom: 5rem;
  justify-content: flex-start;
  display: flex;
}

.tabs__button {
  gap: 1.1rem;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 3rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 4px 10px var(--color-shadow);
  border: none;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  font-weight: 600;
  display: flex;
}

.tabs__button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px var(--color-shadow);
}

.tabs__button--active {
  background-color: var(--color-green);
  color: var(--color-white);
}

.tabs__icon {
  width: 17px;
  max-width: 70px;
}

.recipe-container__card {
  display: block;
  position: relative;
  overflow: hidden;
}

.container__card {
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  gap: 2.5rem;
  display: grid;
}

.recipe-card {
  background-color: var(--color-white);
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  flex-direction: column;
  height: 100%;
  max-height: 600px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.recipe-card__badge {
  z-index: 15;
  top: 2rem;
  bottom: auto;
  left: auto;
  right: 2rem;
  position: absolute;
}

.badge {
  gap: 0.6rem;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 3rem;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px var(--color-shadow);
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 2.2rem;
  font-weight: 600;
  display: flex;
}

.badge__icon {
  width: 2.7rem;
  height: 2.7rem;
}

.badge__text {
  font-size: 1.5rem;
  font-weight: 600;
}

.recipe-card__link {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  border: 1px solid #0000;
  flex-direction: column;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.recipe-card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.recipe-card__image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  min-height: 300px;
  transition: transform 0.3s;
  display: block;
}

.recipe-card__link:hover .recipe-card__image {
  transform: scale(1.03);
}

.recipe-card__info {
  gap: 1rem;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  background-color: var(--color-overlay);
  padding: 1.5rem 2rem;
  align-items: center;
  display: flex;
  position: absolute;
  inset: auto 0 0;
}

.recipe-meta {
  gap: 0.5rem;
  align-items: center;
  display: flex;
}

.recipe-meta__icon {
  flex-shrink: 0;
  width: 2.7rem;
  height: 2.7rem;
}

.recipe-meta__text {
  color: var(--color-green);
  font-size: 1.5rem;
  margin-bottom: 0;
  line-height: 0.9;
}

.recipe-card__content {
  background-color: var(--color-white);
  padding: 3rem 2.9rem;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.recipe-card__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.7rem;
}

.recipe-card__description {
  color: var(--color-grey);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.recipe-card__content .link-underline {
  margin-top: auto;
}

.link-underline__text {
  color: var(--color-green);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.link-underline__line {
  background-color: var(--color-line-bg);
  width: 100%;
  height: 0.2rem;
  margin-top: 0.3rem;
  display: block;
  position: relative;
  overflow: hidden;
}

.link-underline__line:after {
  content: '';
  background-color: var(--color-green);
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-101%);
}

.recipe-card__link:hover .link-underline__line::after {
  transform: translateX(0);
}

/* Promo styling */
.promo {
  padding: 15rem 0;
}

.promo-container {
  gap: 10rem;
  background-color: var(--color-green);
  background-image: url(../assets/promo-bg.svg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  align-items: center;
  padding: 8.3rem 3%;
  display: grid;
  position: relative;
}

.promo-content {
  max-width: 400px;
  margin: 0 auto;
}

.promo-heading {
  color: var(--color-white);
  letter-spacing: -1px;
  margin-bottom: 5rem;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.1;
}

.promo-figure {
  position: absolute;
  right: 10rem;
  width: 38rem;
}

.promo-img {
  border-radius: 16px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

/* About */
.about {
  padding: 10rem 0;
  margin: 5rem 0;
  position: relative;
}

.about-container {
  gap: 3.5rem;
  grid-template-columns: 0.95fr 1fr;
  align-items: center;
  display: grid;
}

.about-heading {
  max-width: 482px;
}

.about-text {
  letter-spacing: -1px;
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

.about-background {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 49%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.about-img {
  object-fit: cover;
  object-position: center;
  /* filter: blur(10px);
  opacity: 0.9; */
  width: 100%;
  height: 100%;
  display: block;
}

/* .about-img.loaded {
  filter: blur();
  opacity: 1;
} */

/* Insight styling */
.insight {
  padding: 15rem 0;
}

.insight-content {
  margin-top: 6rem;
}

.insight-card {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  display: grid;
}

.blog-card {
  overflow: hidden;
}

.blog-card__link {
  transition: transform var(--transition-base);
  text-decoration: none;
  display: block;
}

.blog-card__image {
  width: 100%;
  min-height: 260px;
  transition: transform var(--transition-base);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

.blog-card__content {
  padding-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 1px;
  display: flex;
  position: relative;
}

.blog-card__date {
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
}

.blog-card__title {
  margin-top: 1rem;
  color: var(--color-black);
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3;
}

.blog-card__action {
  margin-top: 2rem;
}

.link-underline {
  margin-top: 1re;
  display: inline-block;
}

.link-underline__text {
  color: var(--color-green);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

.link-underline__line {
  background-color: var(--light-green);
  width: 100%;
  height: 2px;
  margin-top: 3px;
  display: block;
  position: relative;
  overflow: hidden;
}

.link-underline__line:after {
  content: '';
  background-color: var(--color-green);
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-101%);
}

/* App download styling */
.download {
  padding-bottom: 10rem;
}

.download-container {
  gap: 5rem;
  grid-template-columns: 0.95fr 1fr;
  align-items: center;
  display: grid;
}

.download-content {
  max-width: 482px;
}

.download-figure {
  justify-content: center;
  align-items: center;
  display: flex;
}

.download-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.download-header {
  letter-spacing: -1px;
  color: var(--color-black);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 3rem;
}

.download-buttons {
  margin-top: 6rem;
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
}

.app-download__link {
  display: inline-block;
  transition: transform var(--transition-base);
}

.app-download__link img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Instagram */
.instagram {
  padding: 6.5rem 0;
  background-color: var(--light-green);
}

.instagram-container {
  padding-left: 2.6rem;
  display: flex;
  position: relative;
}

.instagram-feed__icon {
  flex-shrink: 0;
  width: 1.6rem;
  height: 1.6rem;
}

.instagram-label {
  transform-origin: center center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 85px;
  left: -46px;
  transform: rotate(-90deg);
}

.instagram-feed {
  gap: 5rem;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 3rem;
  display: grid;
}

.instagram-feed__item {
  display: block;
  transition: transform 0.3s;
  border-radius: 11px;
  overflow: hidden;
}

.instagram-feed__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.instagram-feed__title {
  font-size: 1.7rem;
  color: var(--color-black);
  margin-left: 1.2rem;
  font-weight: 600;
  line-height: 2.3rem;
}

/* Footer */
footer {
  padding: 5rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: minmax(380px, 0.72fr) auto;
  gap: 10rem;
  align-items: start;
}

/* Footer Brand Section */
.footer-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo--link {
  display: inline-block;
  margin-bottom: 3rem;
  position: relative;
}

.footer__logo {
  width: 110px;
  height: auto;
  max-width: 100%;
  display: block;
}

.footer__description {
  color: var(--color-grey);
  font-size: 1.4rem;
  line-height: 1.6;
}

/* Footer Newsletter */
.footer__newsletter {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  margin-top: 3rem;
  padding-top: 3rem;
}

.footer__title {
  color: var(--color-green);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: normal;
  margin-bottom: 1.5rem;
}

.footer__copyright {
  color: var(--color-grey);
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 5.5rem;
}

/* Input Styling */
.subscribe-form {
  width: 100%;
}

.subscribe-form__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.subscribe-form__input {
  background-color: var(--color-ghost-white);
  color: var(--color-black);
  border: none;
  border-radius: 100px 0 0 100px;
  width: 100%;
  height: auto;
  min-height: 66px;
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  display: block;
  outline: none;
  box-shadow: none;
}

.subscribe-form__input:focus,
.subscribe-form__input:hover {
  outline: none;
  box-shadow: none;
}

.subscribe-form__button-wrapper {
  z-index: 2;
  background-color: var(--color-ghost-white);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  align-items: center;
  min-height: 66px;
  display: flex;
  position: relative;
}

/* Base button */
.subscribe-form__button {
  color: #fff;
  background-color: #3898ec;
  background-image: url(../assets/submit-next-icon.svg),
    linear-gradient(14deg, #0095db, var(--color-green));
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 22px, auto;
  border: none;
  border-radius: 100%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  cursor: pointer;
}

.subscribe-form__button--disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Footer Navigation */
.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: start;
}

.footer__nav--column {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.footer__nav--list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__nav--item {
  display: block;
}

.footer__link {
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
  display: inline-block;
}

.footer__link:hover {
  color: var(--color-green);
}

.footer__link--icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__link-icon {
  width: 2.8rem;
  height: 2.8rem;
  flex-shrink: 0;
}

/* Footer Social */
.footer__social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__social-item {
  display: block;
}

.footer__social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s;
}

.footer__social-link:hover {
  transform: translateY(-3px);
}

.footer__social-icon {
  width: 22px;
  height: 22px;
  display: block;
}

@media (max-width: 1235px) {
  .container-wrapper {
    max-width: 85%;
  }

  html {
    font-size: 50.5%;
  }

  .hero-img {
    width: 420px;
    min-height: 420px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 45.25%; /* 1rem = 9px */
  }

  .hero-img {
    width: 320px;
    min-height: 320px;
  }
}

@media (max-width: 768px) {
  .container-wrapper {
    max-width: 100%;
    padding: 0 2rem;
  }

  html {
    font-size: 35.25%; /* 1rem = 9px */
  }

  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    grid-row-gap: 50px;
  }

  .hero-container__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
  .hero-heading {
    width: 70%;
  }

  .featured-container {
    gap: 0;
  }

  .hero-container__image {
    order: 1;
  }

  .featured-logos {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .featured__logo {
    max-width: 10rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 30%; /* 1rem = 8px */
  }
}
